[submodule "vim/pack/plugins/opt/vim-solarized8"]
	path = vim/pack/plugins/opt/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/pack/plugins/start/supertab"]
	path = vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/plugins/syntastic"]
	path = vim/pack/plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/plugins/vim-unimpaired"]
	path = vim/pack/plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
